{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block UserController %}
    <div class="card card-group">
        {% if request.user.is_authenticated %}
            <p>{{ request.user}}</p>
            <a href="{% url 'LogoutURL' %}" class="btn btn-danger">logout</a>
        {% else %}
            <a href="{% url 'LoginURL' %}" class="btn btn-success">login</a>
            <a href="{% url 'RegisterURL' %}" class="btn btn-outline-dark">Register</a>
        {% endif %}
    </div>
{% endblock %}