{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
<div class="card">
    <h2>{{ request.user.username }}</h2>
</div>
{% block postblock %}
    {% for post in posts %}
        <div class="card">
            <div class="card-group">
                <label>{{ post.user.username }}</label>
                {% if request.user.is_authenticated  %}
                    <a href="{% url 'Home:PostLike' post.id %}" class="btn btn-danger">Like {{ post.likes_count }}</a>
                    {% if post.user.username == request.user.username%}
                        <a href="{% url 'Home:EditPost' post.id %}" class="btn btn-warning">Edit</a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-danger">Like {{ post.likes_count }}</a>
                {% endif %}
                <a class="btn btn-outline-success" href="{% url 'Home:post_detail' post.id %}">View Post</a>
            </div>
            <hr>
            <p>{{ post.body }}</p>

            {% if post.post_image.url != Null %}
                <br>
                <img width="30%" src="{{ post.post_image.url }}" />
            {% endif %}
            <br>
            <small>{{ post.created }}</small>
            <label>{{ post.like }}</label>
        </div>
    {% endfor %}
{% endblock %}