<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .card{
            margin: 10px;
            padding: 10px;
        }
        a{
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    {%  include 'navbar.html' %}
    {%  include 'messages.html' %}
    {% include 'Home/usercontroller.html' %}
    {% block registerform %}{% endblock %}
    {% block loginform %}{% endblock %}
    {% block NewPostblock %}{% endblock %}
    {% block postblock %}{% endblock %}


</body>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</html>